* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #245ee8;
    height: 5rem;
}

.cont-hdr {
    max-width: 1200px;
    margin: auto;
    line-height: 5rem;
    position: relative;
}

#cont-logo img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 5rem;
}

#menu {
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    color: white;
}

#menu ul {
    /* display: inline-block; */
    list-style: none;
}

#menu li {
    display: inline-block; 
    padding: 0 1em;  
}

.login {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 2.5em;
    padding: 0 1em;
    background-color: white;
    border-radius: 1.5em;
    color: black;
}

.raw.first {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 35em;
    position: relative;
}

.cont {
    margin: 0 auto;
    text-align: center;
    /* background-color: chartreuse; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/* Il valore massimo che mi fa impostare è 54em */
.single {
    /* max-width: 100em; */
}

.cont h1 {
    font-size: 60px;
    margin-bottom: 1em;
}

.cont p {
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 1.5em;
}

.download {
    display: inline-block;
    background-color: white;
    color: black;
    /* height: 2em; */
    padding: 1em 1.5rem;
    border-radius: 2em;
    margin: 0 1em;
}

i {
    padding-right: 1em;
}

.browser {
    display: inline-block;
    background-color: #292b2e;
    color: white;
    /* height: 2em; */
    padding: 1em 1.5rem;
    border-radius: 2em;
    margin: 0 1em;
}