* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: #245ee8;
    height: 5rem;
}

.cont-hdr {
    max-width: 1200px;
    margin: auto;
    line-height: 5rem;
    position: relative;
}

#cont-logo img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 5rem;
}

#menu {
    text-align: center;
    margin: 0 auto;
    font-weight: 600;
    color: white;
}

#menu ul {
    /* display: inline-block; */
    list-style: none;
}

#menu li {
    display: inline-block; 
    padding: 0 1em;  
}

.login {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    line-height: 2.5em;
    padding: 0 1em;
    background-color: white;
    border-radius: 1.5em;
    color: black;
}

.raw.first {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    width: 100%;
    height: 560px;
}